@media screen, projection {

// Define variables in _variables.scss
// Then create classes that refer to them here
// Then use these class names in your HTML

.c-sans-serif {
    font-family: $c-sans-serif;
}

.c-zi-back {
    z-index: -99;
}

.c-zi-front {
    z-index: 99;
}


// Some empty media queries
// Use these if you want to make responsive custom classes

@media #{$breakpoint-not-small} {
}

@media #{$breakpoint-medium} {
}

@media #{$breakpoint-large} {
}


} // EOF